gpflow>=2.6.0
# mpfr  # for installing R package 'rmgarch' on Ubuntu
numpy
pandas==1.5.3
pylint
pytest
pytest-cov
# r-base==4.1.0
# r-gmp  # for installing R package 'rmgarch' on Ubuntu
rpy2==3.4.5
scikit-learn
scipy
statsmodels
tensorflow>=2.10,<=2.15
tf-keras
